@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MailChimp.NET.V3 Demo</h1>
    <p class="lead">This ASP.NET MVC website demonstrates using the MailChimp.NET.V3 wrapper library, available via NuGet, to manage lists, members and campaigns via .NET and the MailChimp REST API.</p>
    <p><a href="https://github.com/brandonseydel/MailChimp.Net" class="btn btn-primary btn-lg">Github repo &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Blog series</h2>
        <p>
            There's an entire series of blog posts on using the MailChimp.NET.V3 wrapper library on my blog.
        </p>
        <p><a class="btn btn-success" href="https://www.dougv.com/related/mailchimp-net-v3/">View the series &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>YouTube videos</h2>
        <p>I've also created a series of YouTube videos that shows, step-by-step, how to prepare your Visual Studio project to use the MailChimp REST API, install the MailChimp.NET.V3 NuGet package, and use the wrapper to perform the tasks demonstrated here.</p>
        <p><a class="btn btn-danger" href="https://www.youtube.com/watch?v=S1xvOenkUjM&list=PLCmPgxaaHweKOlhtMhns3BarcSmsp7Suy">See the videos &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>The library's author</h2>
        <p>Major props to Brandon Seydel, author of the MailChimp.NET.V3 library.</p>
        <p><a class="btn btn-default" href="http://brandonseydel.me/">Brandon's website &raquo;</a></p>
    </div>
</div>